.rtl-slider-flex {
    width: 100%;
    padding: 0.75em 0.75em 0.5em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  }

  .thumb-prev,
  .thumb-next {
    bottom: 12px !important;
    right: calc(9% + 0.75em) !important;
  }

  .thumb-prev {
    right: calc(0% + 0.75em) !important;
  }
 
  .rtl-slider-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
  }

  .rtl-slider-flex .rtl-slider {
    width: 80%;
    margin-left: 2%;
  }

  .rtl-slider-flex .rtl-slider-nav {
    width: 19%;
    margin-top: -2px;
  }

  .rtl-slider-flex .rtl-slider-nav .rtl-slider-slide {
    padding-top: 90%;
    margin-bottom: 4px;
    opacity: 0.75;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .rtl-slider-flex .rtl-slider-nav .slick-slide.slick-current.slick-active .rtl-slider-slide {
    opacity: 1;
  }

  /* in case of dynamic data we will create it dynamicly */
  .rtl-slider-flex .rtl-slider-slide {
    background: #0b69b7 url("../../assets/images/profilePicture.jpg") no-repeat center/cover;
    padding-top: 56.25%;
    border-radius: 24px;
}


  .rtl-slider-flex .thumb-prev,
  .rtl-slider-flex .thumb-next {
    position: absolute;
    bottom: 4px;
    right: 0;
    height: 88px;
    width: 9.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
  }

  .rtl-slider-flex .thumb-prev {
    right: 9.5%;
  }

