* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.t-regular {
  font-weight: 400;
  }

  .t-extra-small {
    font-size: 16px;
  }

  .t-small {
    font-size: 18px;
  }

  .t-medium {
    font-size: 20px;
  }

  .t-large {
    font-size: 21px;
  }

  .t-extra-large {
    font-size: 60px;
  }
  
  .t-bold {
    font-weight: 500
  }

  .t-extra-bold{
    font-weight: 700;
  }
  .t-line-medium {
    line-height: 24.2px;
  }

  .t-line-large {
    line-height: 76px;
  }

  .t-inter {
    font-family:  Inter;
}

.t-grid {
  font-family:  'DM Sans';
}


